<!DOCTYPE html>
 <html>
  <head>
  <meta charset="utf-8">
  <title>Страничка - Access Denied</title>
 </head>
 <body>
     <div>You cannot perform this operation!</div>
     <p>
     <form action="/">
        <button type="submit">Back to the main page</button>
     </form>
    </p>
 </body>
</html>