<!DOCTYPE html>
 <html>
  <head>
  <meta charset="utf-8">
  <title>Страничка</title>
 </head>
 <body>
  <form action="/submit-form" method="post">
    <input id="name" type="text" name="name" value="What's your name?">
    <input id="age" type="text" name="age" value="What's your age?">
    <input id="email" type="text" name="email" value="What's your email?">
    <input type="submit" value="OK">
  </form>
  <div>
  <ul>
    <li><% name %></li>>
    <li></li>>
    <li></li>>
  </ul>
  </div>
 </body>
</html>