<!DOCTYPE html>
 <html>
  <head>
  <meta charset="utf-8">
  <title>Страничка</title>
 </head>
 <body>
  <form action="/submit-form" method="post">
    <p><input id="holidays" type="text" name="holidays" placeholder="Зачем человеку каникулы?" size=100pxl></p>
    <p><input id="eggs" type="text" name="eggs" placeholder="Сколько варить яйца?" size=100pxl></p>
    <p><input id="nina" type="text" name="nina" placeholder="Где проживает баба Нина?" size=100pxl></p>
    <p><input id="jackrabbit" type="text" name="jackrabbit" placeholder="Расскажи о зайце, его характере и поступках" size=100pxl></p>
    <p><input type="submit" value="Submit">
  </form>
  <div>
  <ul>
    <li><%= submittedHolidays %></li>
    <li><%= submittedEggs %></li>
    <li><%= submittedNina %></li>
    <li><%= submittedJackRabbit %></li>
  </ul>
  </div>
 </body>
</html>